<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <meta name="author" content="Rajeev K Rao" />
    <meta name="keywords" content="" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="description"
      content="Web site built using react"
    />
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">


    <title>About Page</title>
  </head>
  <body>
  	This is About page which doesn't use react(webpack).<br/><br/>

    This is directly called using express routing.
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <div id="App">
        
    </div>






    
    <script type="text/javascript" src="/bundle.js"></script>
  </body>
</html>